@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-nunito: Nunito;
  --m3-label-large1: Roboto;

  /* font sizes */
  --font-size-xs: 12px;
  --m3-label-large1-size: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 27px;
  --font-size-3xl: 32px;
  --font-size-4xl: 48px;
  --font-size-5xl: 64px;

  /* Colors */
  --color-gray-100: #fffcff;
  --m3-sys-light-surface: #fffbfe;
  --color-gray-300: #dadada;
  --color-gray-400: #ababab;
  --color-gray-500: #767676;
  --m3-sys-light-on-surface-variant1: #49454f;
  --color-gray-700: #262017;
  --m3-sys-light-on-surface: #1c1b1f;
  --color-turquoise: #32b29b;
  --color-black: #000;
  --m3-sys-light-on-primary: #fff;
  --color-red: #ff6a16;
  --m3-sys-light-primary: #6750a4;
  --color-teal: #7fb4a1;

  /* Gaps */
  --gap-sm: 4px;
  --gap-md: 8px;

  /* Paddings */
  --padding-4xs: 3px;
  --padding-3xs: 4px;
  --padding-2xs: 8px;
  --padding-xs: 10px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;
  --padding-2xl: 46px;
  --padding-3xl: 100px;

  /* border radiuses */
  --br-2xs: 12px;
  --br-xs: 24px;
  --br-sm: 28px;
  --br-md: 30px;
  --br-lg: 40px;
  --br-xl: 100px;

  /* Effects */
  --m3-elevation-light-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
}
