.rectangleDiv {
  position: absolute;
  top: 172px;
  left: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 260px;
  height: 792px;
  cursor: pointer;
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}
.floatingLabelDiv {
  position: absolute;
  top: 164px;
  left: 144px;
  background-color: var(--m3-sys-light-surface);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-turquoise);
}
.augustStrong,
.collaborationDatesH6 {
  position: absolute;
  left: 52px;
  color: var(--color-black);
  display: inline-block;
}
.collaborationDatesH6 {
  margin: 0;
  top: 460px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong {
  top: 494px;
  font-weight: 700;
}
.trailingDataP {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 232px;
  right: 1164px;
  bottom: 776px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck {
  position: absolute;
  top: calc(50% - 284px);
  right: 1364px;
}
.trailingDataP1 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 268px;
  right: 1164px;
  bottom: 740px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck1 {
  position: absolute;
  top: calc(50% - 248px);
  right: 1364px;
}
.trailingDataP2 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 304px;
  right: 1164px;
  bottom: 704px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: calc(50% - 212px);
  right: 1364px;
}
.trailingDataP3,
.trailingDataP4 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 336px;
  right: 1152px;
  bottom: 672px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP4 {
  top: 380px;
  bottom: 628px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: calc(50% - 136px);
  right: 1364px;
}
.trailingIconFormCheck4 {
  top: calc(50% - 172px);
}
.trailingDataP5 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 416px;
  right: 1152px;
  bottom: 592px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: calc(50% - 100px);
  right: 1364px;
}
.hostCategoriesH6 {
  margin: 0;
  position: absolute;
  top: 194px;
  left: 52px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 447.5px;
  left: 51.5px;
  border-top: 1px solid #ffbb95;
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.rectangleIframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1060px;
  height: 884px;
  cursor: pointer;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 402px);
  left: 40px;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon,
.zoomOutIcon {
  position: absolute;
  top: 80px;
  left: 980px;
  width: 40px;
  height: 40px;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon {
  top: 40px;
}
.locationOnIcon,
.mapSectionDiv {
  top: 599px;
  left: 200px;
}
.mapSectionDiv {
  top: 80px;
  left: 340px;
  width: 1060px;
  height: 884px;
}
.contactDiv,
.shareAshelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 100%;
  width: 11.17%;
  top: 0;
  right: 47.99%;
  bottom: 0;
  left: 40.84%;
  display: inline-block;
}
.contactDiv,
.shareAshelfLtdDiv,
.termsOfService {
  width: 10.62%;
  right: 30.04%;
  left: 59.34%;
}
.shareAshelfLtdDiv,
.termsOfService {
  width: 22.71%;
  right: 0;
  left: 77.29%;
}
.shareAshelfLtdDiv {
  width: 32.78%;
  right: 67.22%;
  left: 0;
}
.footerHostsDiv {
  position: absolute;
  top: 983px;
  left: 40px;
  width: 546px;
  height: 22px;
  color: var(--color-gray-500);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 1274px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
}
.whatIsShareAshelf {
  margin: 0;
  left: 554px;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 40px;
}
.frameDiv,
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 62px;
  height: 40px;
}
.frameDiv {
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}
.floatingLabelDiv1 {
  position: absolute;
  top: -8px;
  left: 78px;
  background-color: var(--m3-sys-light-surface);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.inputB {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: none;
  align-items: center;
  width: 124px;
  flex-shrink: 0;
}
.contentDiv,
.inputDiv {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.inputDiv {
  width: 124px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
}
.contentDiv {
  width: 100%;
  right: 0;
}
.frameDiv1 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 231px;
  height: 56px;
}
.fieldDiv,
.inputSelect {
  position: absolute;
  top: 18px;
  left: 20px;
}
.fieldDiv {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
}
.mobileMenuDiv {
  position: absolute;
  height: 7.03%;
  width: 18.06%;
  top: 7.81%;
  right: 79.17%;
  bottom: 85.16%;
  left: 2.78%;
  font-size: var(--font-size-xs);
  color: var(--color-red);
}
.hostsDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-open-sans);
}
