@media only screen and (min-width: 2500px)  {
  .rectangleDiv {
  left: 10% !important;
  width: 80% !important;
}

.shareourshelfH1 {
  left: 30% !important;
}
.theCollaborativeMarketplace {
  left: 42% !important;
}

}
.rectangleDiv {
  position: absolute;
  top: 59px;
  left: 120px;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 1360px;
  height: 904px;
  cursor: pointer;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: #292929;
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareourshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareourshelfH1,
.shareourshelfH11 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-family: inherit;
}
.shareourshelfH11 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.shareourshelfH1 {
  top: 426px;
  left: 15%;
  width: 1160px;
  height: 112px;
}
.theCollaborativeMarketplace {
  margin: 0;
  position: absolute;
  top: 554px;
  left: 36%;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  font-family: inherit;
  color: var(--color-gray-700);
  display: inline-block;
}
.startMain {
  position: relative;
  background-color: var(--color-turquoise);
  width: 100%;
  height: 1004px;
  overflow: hidden;
  text-align: center;
  font-size: 96px;
  color: var(--color-red);
  font-family: var(--font-nunito);
}
